asgiref==3.8.1
dj-database-url==2.2.0
Django==5.0.7
django-braces==1.15.0
gunicorn==22.0.0
numpy==1.26.4
pandas==2.2.2
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.1
six==1.16.0
SQLAlchemy==2.0.31
sqlparse==0.5.1
statsmodels==0.14.2
tzdata==2024.1
whitenoise==6.7.0